name: New issue notifier

on:
  issues:
    types: [opened]

jobs:
  notify-coordinators:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/github-script@v6
      with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Heads up @WordPress/docs-issues-coordinators, we have a new issue open. Time to use 'em labels."
            })
