name: Notify team based on issue labels

on:
  issues:
      types: [labeled]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
        # https://github.com/marketplace/actions/issue-label-notifier
        - uses: jenschelkopf/issue-label-notification-action@1.3
          with:
             # The Team
             # https://make.wordpress.org/docs/handbook/the-team/
             recipients: |
                  block editor=
                  has-screenshots= @atachibana
                  user documentation= @atachibana
                  plugins=
                  themes=@kafleg @TeBenachi
                  code reference=@stevenlinx
                  external links=@zzap
                  apis=@zzap
                  advanced administration=@javiercasares
                  tutorial review=
                  [Status] Review=@docs-reviewers
